* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: rgb(127, 136, 255); */
    background-color: #846a78;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(266, 266, 266);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav-links a {
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;

}

.chartBox {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(266, 266, 266);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }

    .chartBox {
        width: 300px;
        height: 200px;
    }

    .chartBox1 {
        width: 300px;
        height: 200px;
    }

    .chartBox2 {
        width: 300px;
        height: 200px;
    }

    .chartBox3 {
        width: 300px;
        height: 200px;
    }

    .chartBox4 {
        width: 300px;
        height: 200px;
    }

    .chartCard {
        flex-direction: column;
        height: 100vh;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;

    }

    .burger {
        display: block;
    }

    .chartCard {
        flex-direction: column;
        height: 100vh;
    }

    .chartBox1 {
        width: 300px;
        height: 200px;
    }

    .chartBox2 {
        width: 300px;
        height: 200px;
    }

    .chartBox3 {
        width: 300px;
        height: 200px;
    }

    .chartBox4 {
        width: 300px;
        height: 200px;
    }

    .chartCard {
        flex-direction: column;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* chart css */
/* .chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
} */

.chartCard {
    width: 100vw;
    height: 50vh;
    /* background: rgba(255, 26, 104, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .wrapper {
    width: 100vw;
    height: 100vh;
    /* background: rgba(255, 26, 104, 0.2); */
/* display: flex;
    align-items: center;
    justify-content: center;
} */

/* .infoBox {
    width: 100vw;
    height: 1px;
    /* background: rgba(255, 26, 104, 0.2); */
/* display: flex;
    align-items: center;
    justify-content: center;
} */
.chartBox1 {
    width: 100vw;
    height: 1px;
    /* background: rgba(255, 26, 104, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox2 {
    width: 100vw;
    height: 100vh;
    /* background: rgba(255, 26, 104, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox3 {
    width: 100vw;
    height: 40vh;
    /* background: rgba(255, 26, 104, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox4 {
    width: 100vw;
    height: 40vh;
    /* background: rgba(255, 26, 104, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* drop down css */
.dropdown {
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.projects,
.products {
    position: relative;
}

.projects ul,
.products ul {
    position: absolute;
    background: white;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.products a,
.projects a {
    color: black;
    text-decoration: none;
}

.products li,
.projects li {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.dropdown button,
.home {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

}

.dropdown button:hover,
.home:hover {
    color: lightgray;
}

.products li:hover,
.projects li:hover {
    background-color: rgb(218, 173, 190);
}

.projects button:focus+ul,
.products button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.heading {
    align-content: center;
}

.section {
    width: 100%;
    min-height: 100%;
    background-color: #ddd;
}

.container {
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 85%;
}

.image-section {
    float: right;
    width: 20%;
}

.image-section img {
    width: 80%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 20px;
}



.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.content-section .social {
    margin: 40px 40px;
}

.content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #3d3d3d;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;

    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .content .button {
        text-align: center;
    }

    .content-section .content .button a {
        padding: 9px 30px;
    }

    .content-section .social {
        text-align: center;
    }

}